html {
	font-size: 10px;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0 10% 0 10%;
}

h1 {
	border-bottom: 1px solid #E2E2E2;
}

.box {
	overflow: auto;
}

.cart {
	/*height: 513px;*/
	width: 30%;
	float: left;
	margin: 0px 10px 100px;
	overflow: auto;
}

.cart-img > img {
	width: 100%;
}

.cart-title {
	font-size: 2.4rem;
	font-weight: 700;
	color: #354657;
}

.cart-desc {
	font-size: 1.5rem;
	color: #354657;
}

.cart-btn {

}

.cart-link {
	border: 2px solid #946FD3;
	box-sizing: border-box;
	border-radius: 50px;
	color: #946FD3;
	font-size: 1.7rem;
	font-weight: 700;
	text-decoration: none;
	padding: 1.5rem 7rem;
    display: inline-block;
}

.cliar{
	clear: both;
}
.podpis{
	height: 97px;
	width: auto;
	background: #FFFFFF;
}
.texst{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: #354657;
}
.podpiss{
	float: left;
	margin: 10px 50px 10px;
}
.icon-img{
	margin-top: 25px;
	margin-left: 30%;
}
